{require_otp_vsn, "R15|R16|17|18|19"}.

{eunit_opts, [verbose]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "^[0-9]+", namespaced_types},
    {platform_define, "(?=^[0-9]+)(?!^17)", deprecated_now},
    {platform_define, "^19", deprecated_19}
]}.

{deps, [
    {riakc, "2.5.*", {git, "https://github.com/basho/riak-erlang-client", {tag, "2.5.1"}}}
]}.
